html, body {
    margin: 0;
    height: 100%;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgb(21, 21, 21);
}

span.main {
    max-width: 1200px;
    display: table;
    margin: auto auto;
    padding-top: 40px;
}

img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

span.header {
    display: block;
}

span.abstract {
    display: inline-block;
    max-width: 800px;
    line-height: 1.4em;
}


hr {
    margin-top: 35px;
    opacity: 0.7;
}

h2 {
    font-family: 'Chivo', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 29px;
}

span.work, span.projects, span.education {
    white-space: normal;
    display: inline-block;
    margin-left: 20px;
    line-height: 1.8em;
}

a {
    color: rgb(255, 255, 255);
    display: inline;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

a:hover {
    color: rgb(255, 114, 38);
}


i {
    font-style: italic;
    letter-spacing: 0.02em;
    color: rgb(225, 225, 225);
}

.dash {
    display: inline;
}

.break {
    display: none;
}

.footer {
    font-size: 12px;
    padding-bottom: 10px;
    opacity: 0.5;
    display: none;
}

@media (max-width: 830px) {
    html, body {
        height: auto;
    }
}

@media (max-width: 880px) {
    a {
        margin-top: 10px;
        display: inline-block;
    }

    .dash {
        display: none;
    }

    .break {
        display: inline;
    }

    .footer {
        display: inline;
    }
}


span.icons {
    margin-top: 1.5em;
    /*margin-left: 0.5em;*/
    display: block;
}

span.icons:hover a {
    opacity: 0.5;
}

span.icons a:hover {
    color: white;
    opacity: 1.0;
}

.fa {
    padding-left: 10px;
    font-size: 30px;
    /*width: 50px;*/
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

